@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1d2025;
    --white: #dfedea;
    --tropical: #bac9e5;
    --black-olive: #1a1c20;
    --gray: #191b1b;
    --second-white: #bec7c7;
    --bigFont: "bebas neue", sans-serif;
    --smallFont: "Poppins", sans-serif;
    --hand-written: "Lugrasimo", cursive;
}

::selection {
    color: var(--black);
    background: var(--white);
}

html {
    background-color: var(--black);
}

body {
    background: var(--black);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 20%;

}

::-webkit-scrollbar-thumb {
    background: rgb(168, 173, 204);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: rgb(11, 8, 17);
}

.heading {
    width: 100vw;
    place-content: center;
    place-items: center;
}

.heading h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 10px;
    font-family: var(--bigFont);
    /* margin: 20px 0; */
    line-height: 1;
}

.heading p {
    font-size: .8rem;
    font-family: var(--smallFont);
    color: var(--white);
}

.form_wrapper {
    height: 100vh;
    padding: 2rem;
    text-align: center;
    place-content: center;
    place-items: center;

}

form {
    padding: 1rem;
    width: 50%;
    cursor: pointer;
}

.input_field {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

label {
    font-size: .9rem;
    color: var(--second-white);
    margin: 5px 0;
}

.input_field input {
    cursor: pointer;

    width: 100%;
    padding: 10px 20px;
    background: var(--black-olive);
    color: white;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    margin: 5px 0;
    font-size: 1rem;
    transition: .2s linear;
}

.input_field input:focus,
.input_field textarea:focus {
    border-color: var(--tropical);
}

.input_field input:hover,
.input_field textarea:hover {
    border-color: white;
}

.input_field textarea {
    width: 100%;
    margin: 10px 0;
    min-height: 100px;
    background: var(--black-olive);
    color: white;
    border-radius: 20px;
    border: 1px solid transparent;
    outline: none;
    padding: 10px 20px;
    transition: .1s linear;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_btn {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_btn button {
    padding: 8px 10px;
    color: black;
    background: var(--tropical);
    margin: 5px;
    border-radius: 8px;
    font-size: .9rem;
    transition: .2s linear;
    border: 1px solid transparent;
}

.input_btn button:hover {
    scale: 1.02;
}

.input_btn button:active {
    scale: 0.95;
}

.input_field select {
    padding: 10px 20px;
    border-radius: 20px;
    background: var(--tropical);
    color: black;
    font-size: 1rem;
    appearance: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    transition: .1s linear;
}

.input_row {
    padding: 5px;

}

.input_row>* {
    margin: 0 5px;
}

.input_field select::-ms-expand {
    display: none;
}

.input_field select:hover {
    scale: 1.02;
}

.input_field input[type="file"] {
    display: none;
}

.input_field .file_label {
    background: var(--tropical);
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: .2s linear;

}

.input_field .file_label:hover {
    scale: 1.02;
}

a {
    color: black;
    background: var(--tropical);
    border-radius: 8px;
    padding: 8px 10px;
    margin: 5px;
    position: relative;
    font-size: .9rem;
    font-family: var(--smallFont);
    transition: .2s linear;

}

.input_btn button.green_btn {
    color: black;
    background: rgb(143, 204, 188);
}

.green_btn {
    background: rgb(143, 204, 188);
}

.red_btn {
    background: rgb(255, 143, 143);
}

.input_btn button.red_btn {
    background: rgb(255, 143, 143);
    color: black;

}



.green_btn:hover,
.red_btn:hover,
button.green_btn:hover,
button.red_btn:hover {
    scale: 1.1;
}

a:hover,
.green_btn:hover,
.red_btn:hover {
    scale: 1.1;

}

a:active {
    scale: 0.93;

}

button:active {
    scale: 0.93;
}

.add_btn {
    position: relative;

    width: 100vw;
    height: 50px;
    text-align: center;
}


.product_table {
    margin: 0;
    outline: none;
    border: none;
    font-family: var(--smallFont);

}

.table_container {
    background: rgb(45, 54, 75);
}

.success_msg {
    color: rgb(153, 223, 153);
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;
}

.error_msg {
    color: rgb(223, 153, 153);
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;

}

/* Alert Message */

/* Messages */


.notification {
    text-align: center;
    font-family: var(--smallFont);
    position: absolute;
    width: 100%;
    height: 15vh;
    z-index: 99;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.success_msg {
    color: var(--black);
    animation: fade-in-out 8s ease-in-out forwards;
    background: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.success_msg i {
    margin: 0 10px;
    color: rgb(84, 187, 84);
}

.error_msg {
    color: var(--black);
    animation: fade-in-out 8s ease-in-out forwards;
    background: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.error_msg i {
    margin: 0 10px;
    color: rgb(227, 79, 79);
}


@media (max-width : 800px) {
    .form_wrapper {
        padding: .5rem;
    }

    form {
        width: 100%;
    }
}

/* View Transitions */

@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: 1.3s cubic-bezier(.78, .07, .16, .94) both move-out;
}

::view-transition-new(root) {
    animation: 1.3s cubic-bezier(.78, .07, .16, .94) both move-in;
}

@keyframes move-out {
    from {
        transform: translateY(0%);
        opacity: 1;

    }

    to {
        transform: translateY(-20%);
        opacity: .5;

    }
}

@keyframes move-in {
    from {
        transform: translateY(50%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        scale: 1.5;
    }

    to {
        transform: translateY(0%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        scale: 1;
    }
}