@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1d2025;
    --white: #e3eeec;
    --tropical: #9fc9b7;
    --black-olive: #1a1c20;
    --gray: #191b1b;
    --second-white: #b8c2c2;
    --bigFont: "bebas neue", sans-serif;
    --smallFont: "Poppins", sans-serif;
}

::selection {
    color: var(--black);
    background: var(--white);
}

html,
body {
    height: 100%;
    scroll-behavior: auto;
    background: var(--black);
}

::-webkit-scrollbar {
    width: 0px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--tropical);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--black-olive);
}

button:active,
a:active {
    scale: 0.9;
}

.sidebar {
    width: 200px;
    background-color: var(--black-olive);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    position: fixed;
    padding: 10px;
}

.sidebar a {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.137);
    color: var(--white);
    text-decoration: none;
    padding: 12px 20px;
    font-family: var(--smallFont);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.15s linear;
}

.sidebar a h1 {
    font-size: 0.8rem;
    font-weight: 500;
}

.sidebar a i {
    font-size: 0.8rem;
    transition: 0.15s linear;
}

.sidebar a:hover {
    scale: 1.02;
    background: rgb(42, 42, 50);
}

.sidebar a:active {
    scale: 0.95;
}

.main-content {
    margin-left: 200px;
    width: calc(100% - 200px);
    position: relative;
}

section {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    padding-top: 20px;
    display: none;
    background: var(--black);
}

section.active {
    display: block;
}

section .heading {
    margin: 20px;
}

section .heading h1 {
    font-size: 2rem;
    font-family: var(--bigFont);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 300;
}

section .heading p {
    color: var(--second-white);
    font-family: var(--smallFont);
    margin: 2px 0;
    font-size: 0.9rem;
    text-transform: capitalize;
}

section .table {
    width: 100%;
    height: 100%;
    font-family: var(--smallFont);
    overflow-x: auto;
}

.table-header {
    font-size: 0.8rem;
    color: var(--second-white);
    font-weight: 300;
    font-family: var(--smallFont);
}

table {
    overflow-x: scroll;
}

.product_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.add_btn {
    background: var(--white);
    text-align: right;
    margin: 20px;
    position: absolute;
    border: 1px solid transparent;
    right: 0;
    top: 80px;
    padding: 8px 10px;
    border-radius: 5px;
    color: var(--black);
    font-family: var(--smallFont);
    font-size: 0.7rem;
    font-weight: 500;
    transition: 0.2s linear;
}

.add_btn:hover {
    scale: 1.02;
}

.add_btn:active {
    scale: 0.95;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;

}

form {
    margin-top: 10px;
}

form input {
    background: var(--white);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px 10px;
    color: black;
    margin: 3px;
    font-size: 16px;
}

form input::placeholder {
    color: var(--black);
    font-family: var(--smallFont);
    font-size: 0.8rem;
    line-height: 1;
}

form button {
    padding: 8px 10px;
    color: var(--black);
    background: var(--tropical);
    font-family: var(--smallFont);
    font-size: 0.8rem;
    border-radius: 10px;
    transition: 0.1s linear;
    margin-top: 5px;
}

form button:hover {
    transform: scale(1.03);
}

.action a {
    padding: 8px 12px;
    font-size: 0.7rem;
    font-family: var(--smallFont);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 3px;
    cursor: pointer;
    transition: 0.2s linear;
    user-select: none;
}

.action a:hover {
    scale: 1.03;
}

.action a:active {
    scale: 0.95;
}

.action .green_btn {
    background: rgb(139, 208, 151);
    flex-shrink: 0;
}

.action .green_btn i {
    margin: 0 6px 0 3px;
}

.action .red_btn {
    background: rgb(208, 139, 139);
}

.table_row {
    border-bottom: 1px solid rgba(4, 4, 4, 0.241);
    transition: 0.1s linear;
}

.table_row:hover {
    background: rgb(197, 206, 230);
}

/* Messages */

.notification {
    text-align: center;
    font-family: var(--smallFont);
    position: absolute;
    width: 100%;
    height: 15vh;
    z-index: 99;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.success_msg {
    color: var(--black);
    animation: fade-in-out 8s ease-in-out forwards;
    background: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.success_msg i {
    margin: 0 10px;
    color: rgb(84, 187, 84);
}

.error_msg {
    color: var(--black);
    animation: fade-in-out 8s ease-in-out forwards;
    background: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.error_msg i {
    margin: 0 10px;
    color: rgb(227, 79, 79);
}

.profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    cursor: pointer;
}

.profile>* {
    margin: 0 5px;
    flex-shrink: 0;
}

.profile h1 {
    font-family: var(--smallFont);
    font-size: 1rem;
    line-height: 1;
    flex-shrink: 1;
    font-weight: 500;
}

.profile .profile_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid var(--tropical);
}

.profile .profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user_information {
    padding: 1rem;
    min-width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--black-olive);
    margin: 1rem;
    border-radius: 20px;
    place-self: center;

}

.user_information .profile_image {
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 4;
}

.user_information .profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    padding: 2px;
    border: 2px solid var(--tropical);
}

.user_information .info {
    margin: 0 30px;
    width: 100%;
}

.user_information .info div {
    text-align: center;
    padding: 0px 0;
    position: relative;
    z-index: 3;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.user_information .info div h1 {
    font-size: 1rem;
    font-family: var(--smallFont);
    color: var(--white);
    font-weight: 500;
    text-align: center;
    line-height: 1;
    z-index: 3;

}

.user_information .info div p {
    color: var(--second-white);
    font-family: var(--smallFont);
    font-size: 0.9rem;
    text-align: center;
    font-weight: 400;
    z-index: 3;

}


.user_information .info h1 i,
.user_information .info p i {
    font-size: .7rem;
    color: var(--second-white);
    margin: 0 5px;
    padding: 7px;
    border-radius: 5px;
}


@keyframes fade-in-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .sidebar {
        width: 80px;
    }

    .sidebar a h1 {
        display: none;
    }

    .sidebar a {
        justify-content: center;
    }

    .main-content {
        margin-left: 80px;
        width: calc(100% - 80px);
        height: 100vh;
        position: relative;
    }

    .add_btn {
        top: 10px;
    }

    section .heading {
        margin: 10px;
    }

    section .heading h1 {
        font-size: 1.7rem;
    }

    section .heading p {
        font-size: 0.75rem;
    }

    .profile {
        flex-direction: column;
    }

    .profile h1 {
        display: none;
    }

    .profile .profile_image {
        width: 50px;
        height: 50px;
        aspect-ratio: 1 !important;
    }

    .user_information {
        flex-direction: column;
        height: auto;
    }

    .user_information .profile_image {
        height: 80px;
    }

    .user_information .info {
        margin: 20px 0;
    }

    .user_information .info div {
        justify-content: center;
    }
}

.profile_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}